<% function groupByCategory(products) { const groupedProducts={}; products.forEach((product)=> {
    if (!groupedProducts[product.category]) {
    groupedProducts[product.category] = [];
    }
    groupedProducts[product.category].push(product);
    });
    return groupedProducts;
    }
    const groupedProducts = groupByCategory(products);
    %>

    <% Object.entries(groupedProducts).forEach(([category, products])=> { %>
        
        <h1 class="card-category">
            <%= category %>
        </h1>
         <div class="card-container">
        <% products.forEach((product,index)=> {%>
            <article class="card">
                <div class="card__header">
                    <img src="<%= env.DOMAIN %><%= product.image %>" alt="<%= product.name %>" class="card__img">
                </div>
                <div class="card__body">
                    <div class="card__title">
                        <%= product.name %>
                    </div>
                    <p class="card__description">
                        <%= product.description %>
                    </p>
                    <h3 class="card__price">
                        <%= product.unitprice %>
                    </h3>
                </div>
                <div class="card__footer">
                    <div class="card__date">
                        <%= product.createdAt %>
                    </div>
                    <div class="card__btn-container">
                        <a class="crad__btn" href="/pages/product-detail/product-detail.html?id=<%= product._id %>">
                            AÑADIR AL CARRITO
                        </a>
                    </div>
                </div>`;
            </article>
            <% });%>

        </div>
    <% }); %>